<a href="https://colab.research.google.com/github/lefaa/crimeStudy/blob/main/prepro_gtd_nic_rand.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:

import pandas as pd
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/My Drive/tacactive')
#data = pd.read_csv('gtd_to.csv', parse_dates={"date": ["iday", "imonth", "iyear"]},  encoding='latin-1')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn.neighbors import NearestNeighbors
import plotly.express as px

# FORMING AND FORMATING DATE ken togtel zoukomou engoul ent teaam el tawkoaat
df= pd.read_csv('globalterrorismdb.csv', usecols = ['iday','imonth','iyear','intensity','latitude','longitude'],encoding = "ISO-8859-1")
df.dropna(subset=['iday'], inplace=True)
df.dropna(subset=['imonth'], inplace=True)
df.dropna(subset=['iyear'], inplace=True)
df.loc[df['iday'] == 0, 'iday'] = 15
df.loc[df['imonth'] == 0, 'imonth'] = 6
df['latitude'].fillna(df['latitude'].median(), inplace=True)
df['longitude'].fillna(df['longitude'].median(), inplace=True)
df['intensity'] = df['intensity'].fillna(0)
df.to_csv('revgtd.csv')




#df = df.query('iyear > 1990' )

df['intensity']+=1

df['type']=5
df['cti']=(df['type']*10)+df['intensity']*5

df = df.astype(str).replace(r'\.0$', '', regex=True)
#df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

df.to_csv('revgtdR8.csv')

df = pd.read_csv('revgtdR8.csv', parse_dates={"date": ["imonth", "iday", "iyear"]})




df.to_csv("tempfr.csv", index=False)
df=pd.read_csv("tempfr.csv",index_col='date')
print(df)

df.index = pd.to_datetime(df.index)

df.index.to_period('M')



df = df.reindex(df.index, fill_value=0)
df = df.loc[:, ~df.columns.str.startswith('Unnamed')]
df.to_csv("gtdtorev.csv")

print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-11-8dd1f628402c>:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['latitude'].fillna(df['latitude'].median(), inplace=True)
<ipython-input-11-8dd1f628402c>:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['longitude'].fillna(df['longitude'].median(), inplace=True)
<ipython-input-11-8dd1f628402c>:43: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df = pd.read_csv('revgtdR8.csv', parse_dates={"date": ["imonth", "iday", "iyear"]})

            Unnamed: 0   latitude   longitude  intensity  type  cti
date
1970-07-02           0  18.456792  -69.951164          2     5   60
1970-06-15           1  19.371887  -99.086624          1     5   55
1970-01-15           2  15.478598  120.599741          2     5   60
1970-01-15           3  37.997490   23.762728          1     5   55
1970-01-15           4  33.580412  130.396361          1     5   55
...                ...        ...         ...        ...   ...  ...
2020-12-31      209701  15.305307   43.019490          1     5   55
2020-12-31      209702  13.931337   43.478924          1     5   55
2020-12-31      209703  51.342239   12.374772          1     5   55
2020-12-31      209704  34.523842   69.140304          2     5   60
2020-12-31      209705  13.864252   -1.161453          6     5   80

[209706 rows x 6 columns]
             latitude   longitude  intensity  type  cti
date
1970-07-02  18.456792  -69.951164          2     5   60
1970-06-15  19.371887  -99.086624          1     5   55
1970-01-15  15.478598  120.599741          2     5   60
1970-01-15  37.997490   23.762728          1     5   55
1970-01-15  33.580412  130.396361          1     5   55
...               ...         ...        ...   ...  ...
2020-12-31  15.305307   43.019490          1     5   55
2020-12-31  13.931337   43.478924          1     5   55
2020-12-31  51.342239   12.374772          1     5   55
2020-12-31  34.523842   69.140304          2     5   60
2020-12-31  13.864252   -1.161453          6     5   80

[209706 rows x 5 columns]

In [22]:
os.chdir('/content/drive/My Drive/tacactive')
df= pd.read_csv('GeoNicfiltred_data.csv', encoding = "ISO-8859-1")
df['latitude'].fillna(df['latitude'].median(), inplace=True)
df['longitude'].fillna(df['longitude'].median(), inplace=True)
df.loc[df['intensity'] == -99, 'intensity'] = 1
df['type']=7
df = df.loc[:, ~df.columns.str.startswith('Unnamed')]
df.drop('country', axis=1, inplace=True)
df['cti']=(df['type']*10)+df['intensity']*5
print(df)
df.to_csv("NicREADY.csv")

           date  type  intensity      latitude     longitude  cti
0    1989-12-27     7          1  5.035054e+06  2.229901e+06   75
1    1989-12-27     7          2  5.035054e+06  2.229901e+06   80
2    1989-12-27     7          3  5.035054e+06  2.229901e+06   85
3     1952-5-14     7          1  3.305811e+06  2.890531e+05   75
4     1952-5-14     7          1  3.305811e+06  2.890531e+05   75
..          ...   ...        ...           ...           ...  ...
600    1946-3-1     7          2  4.739440e+06  2.529238e+06   80
601    2011-6-6     7          2  1.813773e+06  3.326100e+06   80
602    2011-6-6     7          2  1.813773e+06  3.326100e+06   80
603    2011-6-6     7          2  1.813773e+06  3.326100e+06   80
604    1994-2-3     7          2  1.796416e+06  5.292757e+06   80

[605 rows x 6 columns]

<ipython-input-22-0146fb2f5b63>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['latitude'].fillna(df['latitude'].median(), inplace=True)
<ipython-input-22-0146fb2f5b63>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['longitude'].fillna(df['longitude'].median(), inplace=True)

In [24]:
os.chdir('/content/drive/My Drive/tacactive')
df= pd.read_csv('RANDREADY.csv', encoding = "ISO-8859-1")
df['latitude'].fillna(df['latitude'].median(), inplace=True)
df['longitude'].fillna(df['longitude'].median(), inplace=True)
df.loc[df['intensity'] == 0, 'intensity'] = 1
df['type']=7
df = df.loc[:, ~df.columns.str.startswith('Unnamed')]
df.drop('description', axis=1, inplace=True)
df['cti']=(df['type']*10)+df['intensity']*5
print(df)
df.to_csv("READYrand.csv")

<ipython-input-24-09789fff9114>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['latitude'].fillna(df['latitude'].median(), inplace=True)
<ipython-input-24-09789fff9114>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['longitude'].fillna(df['longitude'].median(), inplace=True)

       intensity  type      latitude     longitude transformed_date  cti
0             10     7 -4.397998e+06 -7.282320e+06       09-02-1968  120
1             10     7  3.356841e+06  3.884780e+06       12-02-1968  120
2             10     7 -3.869154e+06 -6.233886e+06       13-02-1968  120
3             10     7 -5.115959e+06 -7.977757e+06       20-02-1968  120
4             10     7  3.356841e+06  3.884780e+06       21-02-1968  120
...          ...   ...           ...           ...              ...  ...
40124         20     7  3.356841e+06  3.884780e+06       25-12-2009  170
40125         10     7  4.739440e+06  2.529238e+06       27-12-2009  120
40126         10     7  4.398825e+05 -8.135222e+06       28-12-2009  120
40127         10     7  5.517647e+06 -1.492578e+05       30-12-2009  120
40128         10     7  3.356841e+06  3.884780e+06       31-12-2009  120

[40129 rows x 6 columns]

In [26]:
gtdtorev_df = pd.read_csv("gtdtorev.csv")
nicready_df = pd.read_csv("NicREADY.csv")
readyrand_df = pd.read_csv("READYrand.csv")

# Concatenate the DataFrames
all_data = pd.concat([gtdtorev_df, nicready_df, readyrand_df], ignore_index=True)

# Print and save the concatenated data
print(all_data)
all_data.to_csv('concatenated_data.csv', index=False)

              date      latitude     longitude  intensity  type  cti  \
0       1970-07-02  1.845679e+01 -6.995116e+01          2     5   60
1       1970-06-15  1.937189e+01 -9.908662e+01          1     5   55
2       1970-01-15  1.547860e+01  1.205997e+02          2     5   60
3       1970-01-15  3.799749e+01  2.376273e+01          1     5   55
4       1970-01-15  3.358041e+01  1.303964e+02          1     5   55
...            ...           ...           ...        ...   ...  ...
250435  25-12-2009  3.356841e+06  3.884780e+06         20     7  170
250436  27-12-2009  4.739440e+06  2.529238e+06         10     7  120
250437  28-12-2009  4.398825e+05 -8.135222e+06         10     7  120
250438  30-12-2009  5.517647e+06 -1.492578e+05         10     7  120
250439  31-12-2009  3.356841e+06  3.884780e+06         10     7  120

        Unnamed: 0
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
250435     40124.0
250436     40125.0
250437     40126.0
250438     40127.0
250439     40128.0

[250440 rows x 7 columns]